.btn {
  box-sizing: border-box;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
}
.btn-green {
  width: 570px;
  height: 57px;
  padding: 20px 30px;
  background: #34c176;
  border: none;
}
.btn-transp {
  width: 100%;
  height: 66px;
  background: none;
  border: 1px solid #fff;
}
.btn-news {
  padding: 16px 30px;
  color: #cacaca;
  font-size: 12px;
  border: 1px solid;
}
.btn-red {
  width: 131px;
  height: 53px;
  padding: 17px 41px 17px 40px;
  font-size: 12.8px;
  line-height: 19.2px;
  text-transform: none;
  background: #95390c;
  border: none;
  border-radius: 32px;
}
.btn-red a {
  color: #fff;
}
.btn-artist {
  display: flex;
  align-items: center;
  width: 200px;
  height: 62px;
  padding-left: 31px;
  font-size: 12.8px;
  border: none;
}
.btn-artist img {
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

.buttons-artist {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: #cacaca;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  background-color: #08020d;
}

a {
  color: #cacaca;
  text-decoration: none;
}
a:hover {
  color: #fff;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3 {
  color: #fff;
  text-transform: uppercase;
}

h1 {
  font-weight: bold;
  font-size: 60px;
  line-height: 90px;
}

h2 {
  font-weight: bold;
  font-size: 38px;
  line-height: 57px;
}

h3 {
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
}

h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px 0 20px;
}

.font-white {
  color: #fff;
}

.align-center {
  text-align: center;
}

.nav-section {
  position: absolute;
  top: 25px;
  left: 119px;
  display: flex;
  align-items: center;
  width: 83.3333%;
  font-size: 11px;
  line-height: 16.5px;
  text-transform: uppercase;
}

.logoname {
  display: flex;
  align-items: center;
}
.logoname img {
  height: 24px;
  width: 24px;
}

.logo-name {
  margin-right: 66px;
  margin-left: 16px;
  height: 17px;
}

.nav-list li {
  display: inline;
  margin-left: 24px;
}

.form-search {
  position: absolute;
  right: 0;
}
.form-search input {
  box-sizing: border-box;
  width: 248px;
  height: 25px;
  padding-left: 10px;
  color: #fff;
  text-transform: uppercase;
  background: #3c3b3d;
  border: none;
  border-radius: 50px;
}

.banner {
  padding-top: 100px;
  padding-bottom: 200px;
}

.form-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 570px;
  margin: 17px auto;
  margin-bottom: 0;
}
.form-banner input[type=text] {
  box-sizing: border-box;
  width: 273px;
  height: 50px;
  margin-bottom: 1.5rem;
  padding-left: 20px;
  color: #fff;
  background: none;
  border: 2px solid;
  border-radius: 3px;
}
.form-banner input[type=text]:nth-child(1) {
  margin-right: 24px;
}
.form-banner input[type=text]::placeholder {
  color: #fff;
  font-size: 14px;
}

.banner-artist {
  padding-top: 150px;
  padding-bottom: 223px;
}

.mg-t-31 {
  margin-top: 31px;
}

.mg-t-65 {
  margin-top: 65px;
}

.mg-t-48 {
  margin-top: 48px;
}

.mg-l-50 {
  margin-left: 50px;
}

.mg-t-64 {
  margin-top: 64px;
}

.mg-b-15 {
  margin-bottom: 15px;
}

.mg-b-16 {
  margin-bottom: 16px;
}

.mg-t16-b48 {
  margin-top: 16px;
  margin-bottom: 48px;
}

.mg-r-24 {
  margin-right: 24px;
}

.mg-r-16 {
  margin-right: 16px;
}

.mg-b-24 {
  margin-bottom: 24px;
}

.mg-b-33 {
  margin-bottom: 33px;
}

.mg-b-100 {
  margin-bottom: 100px;
}

.pricing-cards {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 43px;
  text-align: center;
}

.pricing-item {
  flex-basis: 35%;
  box-sizing: border-box;
  margin-right: 50px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  color: #fff;
  border-radius: 1rem;
}
.pricing-item:nth-child(3) {
  margin-right: 0;
}
.pricing-item h3 {
  margin-top: 24px;
  margin-bottom: 200px;
}

.pricing-value {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 32px;
  text-transform: uppercase;
}
.pricing-value span {
  margin-right: 16px;
  font-size: 64px;
  line-height: 1em;
}

.pricing-footer {
  margin-top: 64px;
  margin-bottom: 64px;
  font-size: 12.8px;
  line-height: 19.2px;
}

.news-item {
  display: flex;
}

.news-body {
  width: 50%;
}
.news-body h3 {
  margin-bottom: 30px;
  line-height: 45px;
  text-transform: none;
}
.news-body img {
  width: 19px;
  height: 19px;
}

.data {
  display: flex;
  align-items: center;
  margin-bottom: 64px;
  font-size: 12px;
  line-height: 19.2px;
}

.news-author {
  color: #f89202;
  text-transform: uppercase;
}

.row-reverse {
  flex-direction: row-reverse;
}

.flex-mobile {
  display: flex;
}

.content {
  width: 50%;
}

.mobile-image {
  margin-top: 48px;
  margin-left: 144px;
}

.footer-container-two {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 49px;
}

.footer-container-two a {
  margin-right: 16px;
  color: #e0e0e0;
}

.footer-container-two a:nth-child(5) {
  margin-right: 0;
}

.footer-container-two a:hover {
  color: #fff;
}

.footer-container a {
  color: #e0e0e0;
}

.footer-container a:hover {
  color: #fff;
}

.footer-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 72px;
}

.footer-container h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-align: left;
  text-transform: uppercase;
}

.footer-container ul {
  flex-basis: 22.5%;
  margin-right: 40px;
}

.footer-container ul:nth-child(4) {
  margin-right: 0;
}

.footer-line {
  border: 1px solid;
}

.footer-nav {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 22.5%;
  margin-right: 40px;
  color: #e0e0e0;
  line-height: 24px;
}

.social-network {
  flex-basis: 22.5%;
}
.social-network a {
  margin-right: 24px;
}
.social-network a:nth-child(5) {
  margin-right: 0;
}

.popular-track {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
}
.popular-track img {
  width: 55px;
  height: 55px;
}

.track-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 550px;
  margin-right: 50px;
  margin-bottom: 25px;
  color: #e0e0e0;
  font-weight: normal;
  font-size: 12.8px;
  line-height: 19.2px;
}
.track-item:nth-child(n+5) {
  margin-bottom: 0;
}

.track {
  display: flex;
  align-items: center;
}

.track-info {
  margin-left: 15px;
}
.track-info h3 {
  font-weight: bold;
  font-size: 12.8px;
  line-height: 19.2px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  justify-content: start;
}

.catalog-item {
  margin-right: 50px;
  margin-bottom: 25px;
}
.catalog-item:nth-child(n+5) {
  margin-bottom: 0;
}

.item-name {
  margin-top: 11px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-transform: none;
}

.item-desc {
  color: #e0e0e0;
  line-height: 24px;
}

.bg-header {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.bg-footer {
  background: linear-gradient(265.08deg, #95390c 14.9%, #5328a1 68.95%);
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-standard {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.bg-artist {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}

.bg-purple {
  background: #5328a1;
}

.bg-red {
  background: #95390c;
}

@media (min-width: 320px) and (max-width: 550px) {
  .container {
    padding: 100px 20px;
    padding-bottom: 0;
  }

  .nav-section {
    left: 20px;
    flex-direction: column;
    align-items: flex-start;
    line-height: 12.89px;
  }

  .logoname {
    display: flex;
    margin-bottom: 17px;
  }

  .logo-name {
    margin-right: 0;
    height: 17px;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    width: 84px;
  }
  .nav-list li {
    margin-left: 0;
    margin-bottom: 3px;
  }
  .nav-list li:nth-child(4) {
    margin-bottom: 0;
  }

  .form-search {
    position: unset;
    margin-top: 18px;
  }
  .form-search input {
    width: calc(100vw - 40px);
  }

  h1 {
    font-size: 30px;
    line-height: 45px;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
  }

  h3 {
    font-size: 16px;
    line-height: 24px;
  }

  .banner {
    padding-top: 145px;
  }

  .mg-t-31 {
    margin-top: 16px;
  }

  .form-banner {
    width: 100%;
  }
  .form-banner input[type=text] {
    width: 100%;
  }
  .form-banner input[type=text]:nth-child(1) {
    margin-right: 0;
  }

  .pricing-cards {
    width: 100vw;
    flex-wrap: wrap;
    margin-top: 0;
  }

  .pricing-item {
    flex-basis: auto;
    width: calc(100% - 40px);
    margin-top: 40px;
    margin-right: 0;
  }

  .pricing-footer {
    margin-bottom: 67px;
  }

  .news-item {
    flex-direction: column;
  }

  .news-body {
    width: 100%;
  }
  .news-body h3 {
    margin-top: 50px;
    margin-bottom: 16px;
    line-height: 24px;
  }

  .mg-b-15 {
    margin-bottom: 16px;
  }

  .mg-l-50 {
    margin-left: 0;
  }

  .mg-t-65 {
    margin-top: 64px;
  }

  .flex-mobile {
    flex-direction: column-reverse;
  }

  .mobile-image {
    margin-left: 0;
    text-align: center;
  }

  .content {
    width: 100%;
  }

  .mg-t-64 {
    margin-top: 16px;
  }

  .mg-b-16 {
    margin-bottom: 15px;
  }

  .footer-container {
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
  }
  .footer-container ul {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .footer-container ul:nth-child(4) {
    margin-bottom: 0;
  }

  .column {
    margin-bottom: 30px;
    margin-right: 0;
  }

  .footer-container-two {
    padding-right: 20px;
    padding-left: 20px;
  }
  .footer-container-two a {
    width: 332px;
    margin-right: 0;
    margin-bottom: 16px;
  }
  .footer-container-two a:nth-child(5) {
    margin-bottom: 0;
  }

  .footer-nav {
    flex-direction: column;
  }

  .banner-artist {
    padding-top: 122px;
    padding-bottom: 224px;
  }

  .buttons-artist {
    flex-wrap: wrap;
  }

  .mg-r-24 {
    margin-bottom: 24px;
  }

  .track-item {
    width: 100%;
    margin-right: 0;
  }
  .track-item:nth-child(5) {
    margin-bottom: 25px;
  }

  .catalog-item {
    width: 137px;
  }
  .catalog-item img {
    width: 137px;
    height: 137px;
  }
  .catalog-item:nth-child(even) {
    margin-right: 0;
  }
}
@media (min-width: 551px) and (max-width: 768px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .nav-section {
    top: 27px;
    left: 20px;
    flex-direction: column;
    align-items: flex-start;
    line-height: 12.89px;
  }

  .logoname {
    display: flex;
    margin-bottom: 17px;
  }

  .logo-name {
    margin-right: 0;
    height: 13px;
  }

  .nav-list {
    display: contents;
    width: 83px;
    height: 13px;
  }
  .nav-list li {
    margin-left: 0;
    margin-bottom: 3px;
  }
  .nav-list li:nth-child(4) {
    margin-bottom: 0;
  }

  .form-search {
    position: unset;
    margin-top: 18px;
  }
  .form-search input {
    width: calc(100vw - 40px);
  }

  h1 {
    font-size: 30px;
    line-height: 45px;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
  }

  h3 {
    font-size: 16px;
    line-height: 24px;
  }

  .banner {
    padding-top: 150px;
  }

  .mg-t-31 {
    margin-top: 16px;
  }

  .form-banner {
    width: 100%;
  }
  .form-banner input[type=text] {
    width: 100%;
  }
  .form-banner input[type=text]:nth-child(1) {
    margin-right: 0;
  }

  .pricing-cards {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
  }

  .pricing-item {
    flex-basis: 46%;
    margin-top: 46px;
    margin-right: 0;
  }
  .pricing-item:nth-child(1) {
    margin-right: 24px;
  }

  .pricing-footer {
    margin-bottom: 67px;
  }

  .news-item {
    flex-direction: column;
  }

  .img-news {
    width: 100%;
  }

  .news-body h3 {
    margin-top: 50px;
    margin-bottom: 16px;
  }

  .mg-l-50 {
    margin-left: 0;
  }

  .mg-t-65 {
    margin-top: 64px;
  }

  .content {
    margin-bottom: 20px;
  }

  .mobile-image {
    padding-left: 0;
  }

  .footer-container {
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
  }
  .footer-container ul {
    margin-bottom: 30px;
  }
  .footer-container ul:nth-child(4) {
    margin-bottom: 0;
  }

  .footer-container-two {
    padding-right: 20px;
    padding-left: 20px;
  }
  .footer-container-two li {
    display: list-item;
    margin-right: 0;
    margin-bottom: 16px;
  }
  .footer-container-two li:nth-child(5) {
    margin-bottom: 0;
  }

  .track-item {
    width: 100%;
    margin-right: 0;
  }
  .track-item:nth-child(5) {
    margin-bottom: 25px;
  }

  .catalog-item {
    width: 145px;
  }
  .catalog-item img {
    width: 145px;
    height: 145px;
  }
  .catalog-item:nth-child(n+5) {
    margin-bottom: 25px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .container {
    padding: 100px 40px;
    padding-bottom: 0;
  }

  .nav-section {
    left: 40px;
  }

  .logo-name {
    margin-right: 33px;
  }

  .nav-list li {
    margin-left: 12px;
  }

  .form-search {
    right: -60px;
  }

  .pricing-item {
    margin-right: 30px;
  }
  .pricing-item:nth-child(3) {
    margin-right: 0;
  }

  h3 {
    font-size: 20px;
  }

  .content {
    margin-bottom: 20px;
  }

  .footer-container {
    flex-direction: column;
    padding-right: 40px;
    padding-left: 40px;
  }
  .footer-container ul {
    margin-bottom: 30px;
  }
  .footer-container ul:nth-child(4) {
    margin-bottom: 0;
  }

  .footer-container-two {
    padding-right: 40px;
    padding-left: 40px;
  }

  .track-item:nth-child(5) {
    margin-bottom: 25px;
  }

  .catalog-item:nth-child(n+5) {
    margin-bottom: 25px;
  }
}
@media (min-width: 1201px) and (max-width: 1239px) {
  .container {
    padding: 100px 20px;
    padding-bottom: 0;
  }

  .footer-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .footer-container-two {
    padding-right: 20px;
    padding-left: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
