.bg-header {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.bg-footer {
  background: linear-gradient(265.08deg, $red 14.9%, $purple 68.95%);
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-standard {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.bg-artist {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}

.bg-purple {
  background: $purple;
}

.bg-red {
  background: $red;
}
