.footer-container-two {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 49px;
}

.footer-container-two a {
  width: 354px;
  margin-right: 16px;
  color: $grey;
}

.footer-container-two a:nth-child(5) {
  margin-right: 0;
}

.footer-container-two a:hover {
  color: $white;
}

.footer-container a {
  color: $grey;
}

.footer-container a:hover {
  color: $white;
}

.footer-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 72px;
}

.footer-container h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;

  text-align: left;

  text-transform: uppercase;
}

.footer-container ul {
  flex-basis: 25%;
  margin-right: 40px;
}

.footer-container ul:nth-child(4) {
  margin-right: 0;
}

.footer-container .social-network li {
  display: inline;
  margin-right: 24px;
}

.footer-container .social-network li:nth-child(1) {
  margin-right: 0;
}

.footer-container .social-network li:nth-child(5) {
  margin-right: 0;
}

.footer-line {
  border: 1px solid;
}

.footer-nav {
  display: flex;
}