* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;

    color: #cacaca;

    background-color: #08020d;
}

a {
    text-decoration: none;
    color: #cacaca;
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4 {
    color: #fff;
    text-transform: uppercase;
}

.container {
    margin: 0 auto;
    padding-top: 100px;

    width: 1200px;
}

h1 { 
    font-size: 60px;
    font-weight: bold;
    line-height: 90px;

    @media (max-width: 770px) {
        font-size: 30px;
        line-height: 45px;
    }
}

h2 {
    font-size: 38px;
    font-weight: bold;
    line-height: 57px;
    text-align: center;

    @media (max-width: 770px) {
        font-size: 18px;
        line-height: 27px;
    }
}

h3 {
    font-size: 24px;
    font-weight: normal;
    line-height: 36px;
}