.nav-section {
  position: absolute;
  top: 25px;
  left: 119px;

  display: flex;
  align-items: center;
  width: 83.3333%;

  font-size: 11px;
  line-height: 16.5px;
  text-transform: uppercase;
}

.logoname {
  display: flex;
  align-items: center;

  img {
    width: 24px;
    height: 24px;
  }
}

.logo-name {
  height: 17px;
  margin-right: 66px;
  margin-left: 16px;
}

.nav-list {
  li {
    display: inline;
    margin-left: 24px;
  }
}

.form-search {
  position: absolute;
  right: 0;

  input {
    box-sizing: border-box;
    width: 248px;
    height: 25px;

    padding-left: 10px;

    color: $white;

    text-transform: uppercase;

    background: $dark;

    border: none;
    border-radius: 50px;
  }
}
