.mg-t-31 {
  margin-top: 31px;
}

.mg-t-65 {
  margin-top: 65px;
}

.mg-t-48 {
  margin-top: 48px;
}

.mg-l-50 {
  margin-left: 50px;
}

.mg-t-64 {
  margin-top: 64px;
}

.mg-b-15 {
  margin-bottom: 15px;
}

.mg-b-16 {
  margin-bottom: 16px;
}

.mg-t16-b48 {
  margin-top: 16px;
  margin-bottom: 48px;
}

.mg-r-24 {
  margin-right: 24px;
}

.mg-r-16 {
  margin-right: 16px;
}

.mg-b-24 {
  margin-bottom: 24px;
}

.mg-b-100 {
  margin-bottom: 100px;
}
