.news-item {
  display: flex;
}

.news-body {
  width: 50%;

  & h3 {
    margin-bottom: 30px;

    line-height: 45px;
    text-transform: none;
  }

  & p {
    margin-bottom: 24px;
  }

  & img {
    width: 19px;
    height: 19px;
  }

  & ul {
    margin-bottom: 48px;
  }

  & li {
    display: inline;
    margin-right: 16px;

    font-size: 12px;

    &:nth-child(3) {
      margin-right: 0;
    }
  }
}

.data {
  display: flex;
}

.news-author {
  color: $orange;
  text-transform: uppercase;
}

.row-reverse {
  flex-direction: row-reverse;
}

