.pricing-cards {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 43px;

  text-align: center;
}

.pricing-item {
  flex-basis: 35%;
  box-sizing: border-box;
  margin-right: 50px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;

  color: #fff;

  border-radius: 1rem;

  &:nth-child(3) {
    margin-right: 0;
  }

  & h3 {
    margin-top: 24px;
    margin-bottom: 200px;
  }
}

.pricing-value {
  display: flex;
  justify-content: center;

  margin-bottom: 40px;

  font-size: 32px;

  text-transform: uppercase;

  & span {
    margin-right: 16px;

    font-size: 64px;
    line-height: 1em;
  }
}

.pricing-footer {
  margin-top: 64px;
  margin-bottom: 64px;

  font-size: 12.8px;
  line-height: 19.2px;
}
