.catalog {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;

  justify-content: start;
}

.catalog-item {
  margin-right: 50px;
  margin-bottom: 25px;

  &:nth-child(n + 5) {
    margin-bottom: 0;
  }
}

.item-name {
  margin-top: 11px;

  color: $white;
  font-weight: bold;

  font-size: 18px;

  line-height: 27px;

  text-transform: none;
}

.item-desc {
  color: $grey;
  line-height: 24px;
}
