.news-item {
  display: flex;
}

.news-body {
  width: 50%;

  & h3 {
    margin-bottom: 30px;

    font-size: 30px;

    line-height: 45px;
    text-transform: capitalize;
  }

  & img {
    width: 19px;
    height: 19px;
  }
}

.data {
  display: flex;
  align-items: center;
  margin-bottom: 48px;

  font-size: 12px;
  line-height: 19.2px;
}

.news-author {
  color: $orange;
  text-transform: uppercase;
}

.row-reverse {
  flex-direction: row-reverse;
}
