
.popular-track {
    display: flex;
    flex-wrap: wrap;
    padding-top: 48px;

    & img {
        width: 55px;
        height: 55px;
    }

    .track-item {
        margin-right: 50px;
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        width: 550px;

        &:nth-child(n + 5) {
            margin-bottom: 0;
        }
    }
    
    .track-info {
        margin-left: 15px;
        width: 140px;
    }

    .track-name {
        font-size: 12.8px;
        font-weight: bold;
        line-height: 19.2px;
    }

    .track-author {
        font-size: 12.8px;
        font-weight: normal;
        line-height: 19.2px;
        color: #e0e0e0;
    }

    .track-time {
        margin-left: 315px;
        font-size: 12.8px;
        font-weight: normal;
        line-height: 19.2px;
        color: #e0e0e0;
    }
}