@import "./_base";
@import "./_header";
@import "./_section-banner";
@import "./_margins";
@import "./_page-pricing";
@import "./_page-news";

.font-white {
    color: #fff;
}

.align-center {
    text-align: center;
}

.mg-l-50 {
    margin-left: 50px;
}

.p-t-65 {
    padding-top: 65px;
}